APP_NAME=BHOODEVI Warehouse Intelligence Platform
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=True

DATABASE_URL=postgresql://username:password@localhost:5432/bwip_db
OPENAI_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
SERPER_API_KEY=
SECRET_KEY=